/target/
.DS_Store
.idea/

__pycache__/
*.pyc
docs/book/build/*
!docs/book/build/dist/
docs/book/build/dist/*
!docs/book/build/dist/grust.pdf
!docs/book/build/dist/grust.epub
!docs/book/build/dist/grust.mobi
!docs/book/build/dist/VERSION.md
!docs/book/build/dist/grust.html
!docs/book/build/dist/grust-chapters/
!docs/book/build/dist/grust-chapters/**


# emacs temp files
*~
